@import '../../styles/abstract';

$css-animations-duration: 1.4s;
$hello-animation-time: 1400;

:export {
  helloAnimationTime: $hello-animation-time
}

.cell {
  @include overlay;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes hello-animation {
  $rotate: 10deg;
  $scale: 1.6;

  0% {
    transform: scale(1) translate3d(0, 0, 0) rotate(0);
  }

  22% {
    transform: scale(.8 * $scale) translate3d(0, -.1em, 0) rotate(0);
    text-shadow: .2em .2em .115em rgba(0, 0, 0, .5);
  }

  34% {
    transform: scale($scale) translate3d(0, -.1em, 0) rotate(-$rotate);
    text-shadow: .25em .25em .16em rgba(0, 0, 0, .3);
  }

  46% {
    transform: scale($scale) translate3d(0, -.1em, 0) rotate($rotate);
  }

  58% {
    transform: scale($scale) translate3d(0, -.1em, 0) rotate(-$rotate);
  }

  70% {
    transform: scale($scale) translate3d(0, -.1em, 0) rotate($rotate);
  }

  80% {
    transform: scale($scale) translate3d(0, -.1em, 0) rotate(-$rotate);
    opacity: 1;
    filter: blur(0);
    text-shadow: .25em .25em .16em rgba(0, 0, 0, .3);
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0) rotate(0);
    filter: blur(10px);
    opacity: 0;
    text-shadow: none
  }
}

.cellEmoji {
  font-size: 26px;

  @media screen and (max-width: 500px) {
    font-size: 24px;
  }
}

.cellHelloEmoji {
  animation: hello-animation 1ms * $hello-animation-time forwards;
  transform: scale(1) translate3d(0, 0, 0) rotate(0);
  transform-origin: 48% bottom;
}

.cellImage {

}

.cellIcon {

}

.cellColor {

}

.cellMenu {
  background: #561C1A;
}
