@import '../../styles/abstract';

$minCellSize: 40px;
$maxCellSize: 100px;

:export {
  minCellSize: $minCellSize;
  maxCellSize: $maxCellSize;
}

.grid {
  //background: var(--body-bg);
  color: var(--text-color);
  background: linear-gradient(to top, #141E30, #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to top, #093028, #1F6C4D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to top, #159957, #155799); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to top, #C94B4B, #4B134F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to top, #108DC7, #EF8E38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to top, #360033, #0B8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to bottom, #388474, #093637); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  @include overlay;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

.row {
  display: flex;
  flex: 1;
  flex-shrink: 0;
}

.col {
  flex: 1;
  min-width: $minCellSize;
  min-height: $minCellSize;
  position: relative;
}

