@import '../../styles/abstract';

$minCellSize: 40px;

:export {
  minCellSize: $minCellSize;
}

.gridWrapper {
  background: linear-gradient(45deg, #321A4F, #16203A, #103234);
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.grid {
  color: #AED0AB;

  @include overlay;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

.row {
  display: flex;
  flex: 1;
  flex-shrink: 0;
}

.col {
  flex: 1;
  //min-width: $minCellSize;
  //min-height: $minCellSize;
  position: relative;
}

