@import '../../styles/abstract';

$css-animations-duration: 1.4s;

.cell {
  @include overlay;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 800;

  &.isText {

  }

  &.isHello {
    animation: hello-animation $css-animations-duration;
    transform-origin: 48% 85%;
  }

  &.withoutAnimation {
    .cellSide {
      transform: none !important;
    }
  }
}

@keyframes hello-animation {
  $rotate: 10deg;
  $scale: 1.6;

  0% {
    transform: scale(1) translate3d(0, 0, 0) rotate(0)
  }

  20% {
    transform: scale(.8 * $scale) translate3d(0, 0, 0) rotate(0)
  }

  30% {
    transform: scale($scale) translate3d(0, 0, 0) rotate(-$rotate)
  }

  40% {
    transform: scale($scale) translate3d(0, 0, 0) rotate($rotate)
  }

  50% {
    transform: scale($scale) translate3d(0, 0, 0) rotate(-$rotate)
  }

  60% {
    transform: scale($scale) translate3d(0, 0, 0) rotate($rotate)
  }

  70% {
    transform: scale($scale) translate3d(0, 0, 0) rotate(-$rotate)
  }

  100% {
    transform: scale(1) translate3d(0, 0, 0) rotate(0)
  }
}
